<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<!--<![endif]-->
<head>
<!--<meta charset="UTF-8">-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>Veil | Professional Multipurpose Responsive HTML Template</title>
<link rel="icon" href="images/favicon.png" type="image/png">

<link rel="canonical" href="http://immersivesoul.com/"/>
<meta property="og:title" content="About Me"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://themes.immersivesoul.com/html/veil/about-me.html"/>
<meta property="og:site_name" content="Veil"/>
<meta property="og:description" content="Veil is a clean, professional and fully responsive HTML template, Everything in single template, Veil template give your website professional look. it's easy to use and have lot of options that will help to built your website."/>
<meta property="og:image" content="http://themes.immersivesoul.com/html/veil/images/logo.png" />

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300,300italic' type='text/css'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,300&subset=latin,vietnamese,latin-ext' type='text/css'>
<link rel="stylesheet" href="style.css" type="text/css" media="all" />											<!-- THEME CORE FILE -->
<link rel="stylesheet" href="css/colors.css" type="text/css" media="all" />										<!-- THEME COLORs FILE -->
<link rel="stylesheet" href="css/external.css" type="text/css" media="all" />					<!-- EXTERNAL CSS -->


<!--[if lte IE 8]><link rel="stylesheet" href="css/browser-ie.css" /> <![endif]-->
<!--[if IE]><link rel="stylesheet" href="css/browser-ie.css" /> <![endif]-->
<!--[if lte IE 8]><script type="text/javascript" src="js/respond.js"></script><![endif]-->
<!--[if lt IE 8]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="js/jquery.js"></script>														<!-- JQUERY -->
<script type="text/javascript" src="js/custom-jquery.js"></script>												<!-- CUSTOM -->
<script type="text/javascript" src="js/twitter/jquery.tweetscroll.js"></script>									<!-- TWITTER SCROLL TWEETS -->
<script type="text/javascript" src="js/revolution/jquery.themepunch.plugins.min.js"></script>					<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="js/external.js"></script>													<!-- EXTERNAL FILES -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=en"></script>		<!-- MAP -->
<script type="text/javascript" src="js/map/jquery.axgmap.js"></script>											<!-- MAP -->

<!-- STYLE SWITCHER | BEGIN -->
<!-- / required stylesheets -->	
<link href="css/colors/skyblue.css" type="text/css" media="all" rel="stylesheet" id="colors" />


</head>

<body class="is-light-version transparent-header transparent100-header">
   
   
   <!-- IMMERSIVESOUL WRAPPER | BEGIN --><div class="wrapper switcher_boxed"> <!-- Add Class="boxed" For Boxed Layout with class"wrapper" -->  

   
      



    
     <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-image-section is-image-bg is-overlay white9 is-fullscreen is-padding-top-0" style="background-image: url('images/switcher/demo/main-bg.jpg');">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container">
			<div class="immersivesoul_row">
				<h1 class="align-center is-font-size-80"><a href="index.html" style=""><span style="font-family: 'Pacifico';">ve<span class="is-text">i</span>l</span></a></h1>
				<h4 class="align-center is-font-weight-400 is-margin-top-40 is-text-uppercase">Professional Multipurpose Responsive HTML Template</h2>
				<h6 class="align-center is-font-size-24 is-letter-spacing-1 is-font-weight-100 is-margin-bottom-35 is-text-italic">everything you need in one pack</h6>
				<div class="one_fifth"></div>
				<div class="one_fifth">
					<ul class="is-font-weight-600 is-font-size-16 is-line-height-30">
						<li><i class="icon-ok is-text"></i> Responsive Layout</li>
						<li><i class="icon-ok is-text"></i> SEO Optimized</li>
						<li><i class="icon-ok is-text"></i> RTL Support</li>
					</ul>
				</div>
				<div class="one_fifth">
					<ul class="is-font-weight-600 is-font-size-16 is-line-height-30">
						<li><i class="icon-ok is-text"></i> Retina Grphic</li>
						<li><i class="icon-ok is-text"></i> Unlimited Shortcodes</li>
						<li><i class="icon-ok is-text"></i> Well Documented</li>
					</ul>
				</div>
				<div class="one_fifth">
					<ul class="is-font-weight-600 is-font-size-16 is-line-height-30">
						<li><i class="icon-ok is-text"></i> Fast Performance</li>
						<li><i class="icon-ok is-text"></i> Easy to Customize</li>
						<li><i class="icon-ok is-text"></i> Free Updates</li>
					</ul>
				</div>
				<div class="one_fifth"></div>
			</div>
         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  
	  


      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section is-box-shadow-2 is-padding-top-50 is-padding-bottom-50">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="page-content">
            <!-- IMMERSIVESOUL PORTFOLIO | BEGIN -->
            <div class="immersivesoul_row">
               <!-- PORTFOLIO FILTER | BEGIN -->
               <div id='portfolio-filter' class="is-margin-bottom-20 align-center is-text-uppercase is-font-size-16">
                  <!-- Use Class=", align-right, align-center" to set filter buttons alignment -->
                  <ul id="filterable">
                     <li class='active'><a data-filter="*" href="#"><i class="icon-list"></i>All</a>
                     </li>
                     <li><a data-filter="#portfolio-filter-classic" href="#">Classic</a>
                     </li>
                     <li><a data-filter="#portfolio-filter-portfolio" href="#">Portfolio</a>
                     </li>
                     <li><a data-filter="#portfolio-filter-blog" href="#">Blog</a>
                     </li>
                     <li><a data-filter="#portfolio-filter-shop" href="#">Shop</a>
                     </li>
                     <li><a data-filter="#portfolio-filter-onepage" href="#">One Page</a>
                     </li>
                     <li><a data-filter="#portfolio-filter-comingsoon" href="#">Coming Soon</a>
                     </li>
                  </ul>
               </div>
               <!-- PORTFOLIO FILTER | END -->
               <!-- PORTFOLIO CONTAINER | BEGIN -->
               <div class='row portfolio-boxes is_port_column_4' id='portfolio-container'>
                  <!-- Use Class="is_port_column_1 to is_port_column_4" to set the Portfolio Columns -->
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-shop">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-shop-2.html"><img src="images/switcher/demo/veil-shop-2.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Shop 2</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-blog">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-blog-1.html"><img src="images/switcher/demo/veil-blog-1.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Blog 1</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-portfolio">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-portfolio-1.html"><img src="images/switcher/demo/veil-portfolio-1.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Portfolio 1</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-classic">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-classic-1.html"><img src="images/switcher/demo/veil-corporate-1.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Corporate 1</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-blog">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-blog-4.html"><img src="images/switcher/demo/veil-blog-4.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Blog 4</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-classic">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-classic-2.html"><img src="images/switcher/demo/veil-corporate-2.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Corporate 2</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-portfolio">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-portfolio-2.html"><img src="images/switcher/demo/veil-portfolio-2.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Portfolio 2</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-shop">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-shop-1.html"><img src="images/switcher/demo/veil-shop-1.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Shop 1</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-classic">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-classic-3.html"><img src="images/switcher/demo/veil-corporate-3.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Corporate 3</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-onepage">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-one-page.html"><img src="images/switcher/demo/veil-onepage-1.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - One Page 1</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-blog">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-blog-2.html"><img src="images/switcher/demo/veil-blog-2.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Blog 2</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-classic">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-classic-4.html"><img src="images/switcher/demo/veil-corporate-4.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Corporate 4</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-blog">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="home-blog-3.html"><img src="images/switcher/demo/veil-blog-3.png"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Veil - Blog 3</h6>
                  </div>
                  <div class='port_column portfolio-box portfolio-item' id="portfolio-filter-comingsoon">
                     <div class="custom-box-img is-image-frame is-image-hover-v1">
                     <div class="is-image">
                        <a title="Add Caption Here" href="#"><img src="images/switcher/demo/veil-comingsoon.jpg"><div class="ImageOverlay"></div>
                        </a>
                     </div>
                  </div>
				  <h6 class="align-center is-text-uppercase is-font-weight-600">Coming SOON...!</h6>
                  </div>
                  
               </div>
               <!-- PORTFOLIO CONTAINER | END -->
            </div>
            <!-- IMMERSIVESOUL PORTFOLIO | END -->
         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section black is-color-white is-padding-top-30 is-padding-bottom-30">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
              
			  
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">Page Layouts</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">You can change the <span class="is-text">wide</span> or <span class="is-text">boxed</span> layout with a single class<br> you can select the left sidebar, right sidebar or both sidebars.</p>
               </div>
            </div>
               <!-- HEADING | END -->
			  
            <div class="immersivesoul_row">
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/layout-1.png" alt="Wide" /></p>
			   <h6 class="is-font-weight-600 align-center is-text-uppercase">Wide</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/layout-2.png" alt="Boxed" /></p>
			   <h6 class="is-font-weight-600 align-center is-text-uppercase">Boxed</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/layout-3.png" alt="Full Width" /></p>
			   <h6 class="is-font-weight-600 align-center is-text-uppercase">Full Width</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/layout-4.png" alt="Left Sidebar" /></p>
			   <h6 class="is-font-weight-600 align-center is-text-uppercase">Left Sidebar</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/layout-5.png" alt="Right Sidebar" /></p>
			   <h6 class="is-font-weight-600 align-center is-text-uppercase">Right Sidebar</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/layout-6.png" alt="Both Sidebar" /></p>
			   <h6 class="is-font-weight-600 align-center is-text-uppercase">Both Sidebar</h6>
               
               </div>
			   
			   
			   
            </div>
			
			
         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section is-padding-top-30 is-padding-bottom-30">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
              
			  
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">Header Styles</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">Multiple header version, you can choose the Light and Dark header styles <br>set the position (left, right and center) of menu with the single class</p>
               </div>
            </div>
               <!-- HEADING | END -->
			  
            <div class="immersivesoul_row">
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-1.png" alt="Wide" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Left - Menu Left</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-2.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Left - Menu Center</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-3.png" alt="Full Width" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Left - Menu Right</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-4.png" alt="Left Sidebar" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Right - Menu Right</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-5.png" alt="Right Sidebar" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Right - Menu Center</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-6.png" alt="Both Sidebar" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Right - Menu Left</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-7.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Magazine - Menu Left</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-8.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Magazine - Menu Center</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-9.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Magazine - Menu Right</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-10.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Top - Menu Below Left</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-11.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Top - Menu Below Center</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-12.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Logo Top - Menu Below Right</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-13.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Left Side Header</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/header-14.png" alt="Boxed" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Right Side Header</h6>
               
               </div>
			   
			   
			   
            </div>
			
			
         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section v-one black is-color-white is-padding-top-30 is-padding-bottom-30">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
              
			  
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">Light & Dark Version</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">Change the color version of your site by just change single class in the body tag.<br> You can also use different colors in any section</p>
               </div>
            </div>
               <!-- HEADING | END -->
			  
            <div class="immersivesoul_row">
			
               <img class="is-fullwidth" src="images/switcher/demo/light-dark-2.png">
			   
            </div>
			
			
         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section is-padding-top-30 is-padding-bottom-30">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
              
			  
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">Portfolio Styles</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">1 to 4 column grid, 20+ overlay hover effects, 12+ link hover effects.</p>
               </div>
            </div>
               <!-- HEADING | END -->
			  
            <div class="immersivesoul_row">
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-1.png" alt="Grid" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Grid</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-2.png" alt="Grid No Margin" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Grid No Margin</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-3.png" alt="Grid No Margin Full Width" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Grid No Margin Full Width</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-4.png" alt="Grid With Detail" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Grid With Detail</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-5.png" alt="Grid With Detail No Margin" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Grid With Detail No Margin</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-6.png" alt="Grid With Detail No Margin Full Width" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Grid With Detail No Margin Full Width</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-7.png" alt="Masonry" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Masonry</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-8.png" alt="Masonry No Margin" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Masonry No Margin</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-9.png" alt="Masonry No Margin Full Width" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Masonry No Margin Full Width</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-10.png" alt="Masonry With Detail" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Masonry With Detail</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-11.png" alt="Masonry With Detail No Margin" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Masonry With Detail No Margin</h6>
               
               </div>
			
               <div class="one_third">
			   
			   <p class="align-center"><img src="images/switcher/demo/portfolio-12.png" alt="Masonry With Detail No Margin Full Width" /></p>
			   <h6 class="is-font-size-18 is-font-weight-700 align-center is-text-uppercase">Masonry With Detail No Margin Full Width</h6>
               
               </div>
			   
			   
            </div>
			
			
         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section v-one black is-color-white is-padding-top-30 is-padding-bottom-30">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
              
			  
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">Blog Styles</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">Grid style 2, 3 and 4 columns, List Style, Blog Large, Medium Image Layout and Alt Layout</p>
               </div>
            </div>
               <!-- HEADING | END -->		  
            <div class="immersivesoul_row">
			
               <div class="one_one">
			   
			   <p class="align-center"><img class="is-fullwidth" src="images/switcher/demo/blogs.png" alt="Blogs" /></p>
               
               </div>
			   
            </div>
			
			

         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->	
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section is-padding-top-30 is-padding-bottom-30">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
              
			  
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">Shop Styles</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">You can select the 2 style of shop, 1 to 4 columns with manonry, no-margin etc.<br>Every product can set different color</p>
               </div>
            </div>
               <!-- HEADING | END -->		  
            <div class="immersivesoul_row">
			
               <div class="one_half">
			   
			   <p class="align-center"><img class="is-fullwidth" src="images/switcher/demo/shop-2.jpg" alt="Shop 2" /></p>
               
               </div>
			
               <div class="one_half">
			   
			   <p class="align-center"><img class="is-fullwidth" src="images/switcher/demo/shop-1.jpg" alt="Shop 1" /></p>
               
               </div>
			   
            </div>
			
			

         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->	
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section v-one black is-color-white is-padding-top-30 is-padding-bottom-30">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
              
			  
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">Our Core Features</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">Everthing customizable, You can use anything in any column or in any section.</p>
               </div>
            </div>
               <!-- HEADING | END -->		  
            <div class="immersivesoul_row">
			
               <div class="one_third">
			   
					<ul class="is-list-icon is-list-circle large">
						<li class="icon-ok skyblue">Responsive Layout</li>
						<li class="icon-ok skyblue">14 Header Style</li>
						<li class="icon-ok skyblue">Sticky Header</li>
						<li class="icon-ok skyblue">9 Titlebar Styles</li>
						<li class="icon-ok skyblue">Blank Page</li>
						<li class="icon-ok skyblue">Fullscreen Section</li>
						<li class="icon-ok skyblue">Countdown with Different Background</li>
						<li class="icon-ok skyblue">On Scroll Different Animations</li>
						<li class="icon-ok skyblue">Pricing Tables</li>
						<li class="icon-ok skyblue">Blog Layouts</li>
						<li class="icon-ok skyblue">2 Contact Page</li>
						<li class="icon-ok skyblue">Different Social Icons Hover Styles</li>
						<li class="icon-ok skyblue">Box Blur</li>
						<li class="icon-ok skyblue">On Mobile Sticky Header</li>
						<li class="icon-ok skyblue">RTL Support</li>
					</ul>
               
               </div>
               <div class="one_third">
			   
					<ul class="is-list-icon is-list-circle large">
						<li class="icon-ok skyblue">Retina Ready</li>
						<li class="icon-ok skyblue">8 Menu Styles</li>
						<li class="icon-ok skyblue">Alternate Logo for Sticky</li>
						<li class="icon-ok skyblue">5 Sliders</li>
						<li class="icon-ok skyblue">Video Background</li>
						<li class="icon-ok skyblue">Sign-in and Sign-up Templates</li>
						<li class="icon-ok skyblue">404 Page with Different Background</li>
						<li class="icon-ok skyblue">Light and Dark Scheme</li>
						<li class="icon-ok skyblue">Resoinsive Carousel Slider</li>
						<li class="icon-ok skyblue">Portfolio Layouts</li>
						<li class="icon-ok skyblue">9 Services Page</li>
						<li class="icon-ok skyblue">Working Captcha Code</li>
						<li class="icon-ok skyblue">Counter Numbers</li>
						<li class="icon-ok skyblue">Well Documented</li>
					</ul>
               
               </div>
               <div class="one_third">
			   
					<ul class="is-list-icon is-list-circle large">
						<li class="icon-ok skyblue">Fast Performance</li>
						<li class="icon-ok skyblue">Mega Menu</li>
						<li class="icon-ok skyblue">4 Titlebar Versions</li>
						<li class="icon-ok skyblue">Different Slider Twitter Feeds</li>
						<li class="icon-ok skyblue">Parallax Background</li>
						<li class="icon-ok skyblue">Sign-in and Sign-up in Popup</li>
						<li class="icon-ok skyblue">2000+ Font Icons</li>
						<li class="icon-ok skyblue">Full Screen Slider</li>
						<li class="icon-ok skyblue">eCommerce Layouts</li>
						<li class="icon-ok skyblue">3 About Us Page Concepts</li>
						<li class="icon-ok skyblue">10+ Content Box Styles</li>
						<li class="icon-ok skyblue">PIE Charts</li>
						<li class="icon-ok skyblue">SEO Optimized</li>
						<li class="icon-ok skyblue">Unlimited Shortcodes</li>
						<li class="icon-ok skyblue">Free Updates</li>
					</ul>
               
               </div>
			   
            </div>
			
			

         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->	
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  



      <!-- IMMERSIVESOUL FULLWIDTH SECTION | BEGIN -->
      <div class="is-fullwidth-section is-padding-top-50 is-padding-bottom-75">
         <!-- IMMERSIVESOUL CONTAINER | BEGIN -->
         <div class="container page-content">
		 
               <!-- HEADING | BEGIN -->
            <div class="immersivesoul_row">
               <div class="one_one is-margin-bottom-40">
				  <h1 class="align-center is-text-uppercase is-font-weight-700 is-font-size-40 is-margin-bottom-10">In any case you need help</h1>
				  <p class="align-center is-font-size-18 is-line-height-26 is-font-weight-600 is-text-italic align-center">Feel free to contact us, we'll reply back soon</p>
               </div>
            </div>
               <!-- HEADING | END -->		
			  
			  
				  <div class="immersivesoul_row blur-items">
                     <div class="one_third">
                        <div class="is_icon_content_box v-one icon-effect-1 align-center">
                           <div class="cbox-container"><a href="http://www.mojo-themes.com/user/immersivesoul/"><i class="icon-lifebuoy icon-effect"></i></a>
                              <section>
                                 <h2 class="is-text-uppercase"><a href="http://www.mojo-themes.com/user/immersivesoul/">Support Forum</a></h2>
								 <p>Do you need support? <br>You can contact us for any kind of development. <br>We do different development services.</p>
                              </section>
                           </div>
                        </div>
                     </div>
                     <div class="one_third">
                        <div class="is_icon_content_box v-one icon-effect-1 align-center">
                           <div class="cbox-container"><a href="http://www.mojo-themes.com/user/immersivesoul/"><i class="icon-bug icon-effect"></i></a>
                              <section>
                                 <h2 class="is-text-uppercase"><a href="http://www.mojo-themes.com/user/immersivesoul/">Submit a Bug</a></h2>
								 <p>You found bug in theme?<br> You don't need to worry just tell us here.<br>We will sort it out as soon as possible.</p>
                              </section>
                           </div>
                        </div>
                     </div>
                     <div class="one_third">
                        <div class="is_icon_content_box v-one icon-effect-1 align-center">
                           <div class="cbox-container"><a href="http://www.mojo-themes.com/user/immersivesoul/"><i class="icon-rocket icon-effect"></i></a>
                              <section>
                                 <h2 class="is-text-uppercase"><a href="http://www.mojo-themes.com/user/immersivesoul/">Request a Feature</a></h2>
								 <p>If you like any kind of feature or have <br>any idea in your mind please tell us, we will <br> add your request in this theme.</p>
                              </section>
                           </div>
                        </div>
                     </div>
                  </div>
			
			
         </div>
         <!-- IMMERSIVESOUL CONTAINER | END -->
      </div>
      <!-- IMMERSIVESOUL FULLWIDTH SECTION | END -->
	  
	  
	  
	  
	  


      <!-- IMMERSIVESOUL LOADING | BEGIN -->
      <div id="loading"></div>
      <!-- IMMERSIVESOUL LOADING | END --><!-- IMMERSIVESOUL SCROLL TO TOP | BEGIN -->
      <div class='' id='scrolltoTop'> <i class="icon-up-open-1"></i> </div>
      <!-- IMMERSIVESOUL SCROLL TO TOP | END -->


	  


      <!-- IMMERSIVESOUL FOOTER BOTTOM AREA | BEGIN -->
      <div class="footer_bottom_area is-padding-top-30 is-padding-bottom-30">
         <div class="container">
            <div class="immersivesoul_row">
               <div class="one_one">
                  <!-- LOGO | BEGIN -->
                  <div class="footer-logo align-center is-font-size-40 is-margin-bottom-15"> <a href="index.html"><span style="font-family: 'Pacifico';"><span class="is-font-size-50px">v</span>e<span class="is-text">i</span>l</span> </a> </div>
                  <!-- LOGO | END -->
                  <!-- COPYRIGHT | BEGIN -->
                  <div class="copyright align-center"> &copy; Copyright 2015 - All Rights Reserved. <a href="http://immersivesoul.com" target="_blank">Immersivesoull</a> </div>
                  <!-- COPYRIGHT | END -->
				  
                  <!-- COPYRIGHT | BEGIN -->
                  <!--<div class="copyright align-center">
					<a href="#" target="_blank">Support Forum</a> ,
					<a href="#" target="_blank">Submit a Bug</a> ,
					<a href="#" target="_blank">Request a Feature</a>
				  </div>-->
                  <!-- COPYRIGHT | END -->
				  
				  
				  
				  
				  
               </div>
            </div>
         </div>
      </div>
      <!-- IMMERSIVESOUL FOOTER BOTTOM AREA | END -->

   </div>
   <!-- IMMERSIVESOUL WRAPPER | END -->


   <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-70250779-1','auto');ga('send','pageview');</script>
</body>
</html>