/***************************************************************************
***************************************************************************/
/*================================================= IMMERSIVESOUL PAGE 404*/
/***************************************************************************
***************************************************************************/
.page-404 {
	margin:80px 0 130px;
}
.page-404 h1 {
	font-size:250px;
	line-height: 240px;
}
.is-fullwidth-section .page-404 h1 {
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}